<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nest_kind_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nest_kind_id" data-rule="required" data-source="nest/kind/index" class="form-control selectpage" name="row[nest_kind_id]" type="text" value="{$row.nest_kind_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Kind_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-kind_id" data-rule="required" data-source="kind/index" class="form-control selectpage" name="row[kind_id]" type="text" value="{$row.kind_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" data-rule="required" class="form-control" name="row[status]" type="number" value="{$row.status|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hatch_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hatch_num" data-rule="required" class="form-control" name="row[hatch_num]" type="number" value="{$row.hatch_num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shape')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shape" data-rule="required" class="form-control" name="row[shape]" type="number" value="{$row.shape|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_reap')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-is_reap" data-rule="required" class="form-control" name="row[is_reap]" type="number" value="{$row.is_reap|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Position')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-position" data-rule="required" class="form-control" name="row[position]" type="number" value="{$row.position|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uptime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-uptime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[uptime]" type="text" value="{:$row.uptime?datetime($row.uptime):''}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
