<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text" value="{$row.title|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Product_cate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cate_id" data-source="mall/product_cate/index" class="form-control selectpage" name="row[cate_id]" data-field="title" type="text" value="{$row.cate_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Images')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-images" data-rule="required" class="form-control" size="50" name="row[images]" type="text" value="{$row.images|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-images" class="btn btn-danger faupload" data-input-id="c-images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-images"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-images" class="btn btn-primary fachoose" data-input-id="c-images" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-images"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-images"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
        <div class="col-xs-6 col-sm-3">
            <input id="c-price" data-rule="required" class="form-control" name="row[price]" type="number" value="{$row.price|htmlentities}">
        </div>

        <label class="control-label col-xs-12 col-sm-2">{:__('Kind_id')}:</label>
        <div class="col-xs-6 col-sm-3">
            <input id="c-kind_id" data-rule="required" data-source="egg/kind/index" class="form-control selectpage" name="row[kind_id]" data-params='{"custom[id]":["in","1,2,3"]}' data-order-by="weigh desc" type="text" value="{$row.kind_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Stock')}:</label>
        <div class="col-xs-6 col-sm-3">
            <input id="c-price" data-rule="required" class="form-control" name="row[price]" type="number" value="{$row.stock|htmlentities}">
        </div>

        <label class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-6 col-sm-3">
            <input id="c-weigh" class="form-control" name="row[weigh]" type="number" value="{$row.weigh|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sell_num')}:</label>
        <div class="col-xs-6 col-sm-3">
            <input id="c-sell_num" class="form-control" name="row[sell_num]" type="number" value="{$row.sell_num|htmlentities}">
        </div>

        <label class="control-label col-xs-12 col-sm-2">{:__('Virtual_sales')}:</label>
        <div class="col-xs-6 col-sm-3">
            <input id="c-virtual_sales" class="form-control" name="row[virtual_sales]" type="number" value="{$row.virtual_sales|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-6 col-sm-3">

            <div class="radio">
            <label for="row[status]-1"><input id="row[status]-1" name="row[status]" type="radio" value="1" {in name="$row.status" value="1"}checked{/in} /> 上架</label> 
            <label for="row[status]-0"><input id="row[status]-0" name="row[status]" type="radio" value="0" {in name="$row.status" value="0"}checked{/in} /> 下架</label> 
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-9">
            <textarea id="c-content" data-rule="required" class="form-control editor" rows="5" name="row[content]" cols="50">{$row.content|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
