<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_sn')}:</label>
        <div class="col-xs-12 col-sm-8">
            <span class="form-control">{$row.order_sn|htmlentities}</span>
        </div>
    </div>    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">选择付款方式:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    {volist name="pay_info" id="vo"}
                    {eq name="$key" value="0"}
                        <input type="hidden" name="row[charge_code]" id="charge_code" value="{$vo.id}">
                    {/eq}
                    <li {in name="$key" value="0"}class="active"{/in}>
                        <a href="#{$vo.type}" data-toggle="tab" data-type="{$vo.id}" class="check_pay">{$vo.pay_name}</a>
                    </li>
                    {/volist}
                </ul>
            </div>

            <div class="panel-body">
                <div id="myTabContent" class="tab-content">            
                    {volist name="pay_info" id="vo"}
                    <div {eq name="$key" value="0"}class="tab-pane fade active in"{else/}class="tab-pane fade"{/eq} id="{$vo.type}">
                        <p>姓名：<b>{$vo.name}</b></p>
                        {notempty name="$vo.mobile"}
                            <p>手机号：<b>{$vo.mobile}</b></p>
                        {/notempty}
                        {notempty name="$vo.open_bank"}
                            <p>开户行：<b>{$vo.open_bank}</b></p>
                        {/notempty}
                        {notempty name="$vo.account"}
                            <p>账户：<b>{$vo.account}</b></p>
                        {/notempty}
                        {notempty name="$vo.image"}
                            <img src="{$vo.image}" style="max-width:260px;max-height: 260px;">
                        {/notempty}
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('上传支付截图')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" class="form-control" size="50" name="row[pay_img]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-image" class="btn btn-danger faupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-image"></ul>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
